<div class="row">
    <div class="col-2">
        <app-pagination [page]="queryParams.page" [pageSize]="queryParams.pageSize" [collectionSize]="cardList.count" (pageChange)="onPageChange($event)"></app-pagination>
    </div>
    <div class="col-3 offset-4">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="queryParams.pageSize" (change)="getCards()">
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" value="5"> 5
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" value="10">10
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" value="20"> 20
            </label>
          </div>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <app-card *ngFor="let card of cardList.results" [card]="card" (updateGrade)="updateGrade($event)"></app-card>
    </div>
    <div class="col-4">
        <router-outlet></router-outlet>
    </div>
</div>
